main {
    margin: 0 5vw;
    transform: translateY(-14vh);
}

.h3-title {
    /* background-color: aquamarine; */
    text-align: start;
    color: white;
}

// input[type="search"]::-webkit-search-cancel-button {
//     -webkit-appearance: none;
//     width: 0px;
//     height: 0px;
// }

/* .main-box {
  min-height: 40vh;
} */