.anime-box {
    display: flex;
    justify-content: center;
}

.anime-info-box {
    color: white;
    margin: 0 4rem;
    line-height: 2rem;
}

.anime-img img {
    /* width: 15rem; */
    height: 22rem;
    background-size: cover;
    background-position: center;
}

.anime-img {
    position: relative;
    width: 16rem;
    /* height: 24.5rem; */
    border-radius: 3px;
    background-color: rgba(62, 62, 62, 0.258);
    padding: 1rem;
    /* margin: 10px 0; */
    cursor: pointer;
    /* transform: scaleY(40rem); */
    transform: translateY(-9vh);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.anime-title {
    font-size: 1.4rem;
    margin: 1rem 0;
}

.info {
    display: flex;
    justify-content: flex-start;
    /* position: relative; */
}

.info2 {
    /* width: 15rem; */
    min-width: 15rem;
}

.info3 {
    display: flex;
    justify-content: center;
}